<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del Evento</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Detalle del Evento</h1>
        <div class="card mb-4">
            <div class="card-body">
                <p><strong>Nombre:</strong> {{ evento.nombre }}</p>
                <p><strong>Descripción:</strong> {{ evento.descripcion }}</p>
                <p><strong>Fecha:</strong> {{ evento.fecha }}</p>
                <p><strong>Ubicación:</strong> {{ evento.ubicacion }}</p>
                <p><strong>Organizador:</strong> {{ evento.organizador }}</p>
            </div>
        </div>

        <!-- Botón para regresar a la lista de eventos -->
        <div class="text-center">
            <a href="{% url 'evento_list' %}" class="btn btn-primary">Regresar a la lista de eventos</a>
        </div>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
