<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del Registro de Evento</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Detalle del Registro de Evento</h1>
        <ul class="list-group mt-4">
            <li class="list-group-item"><strong>Usuario:</strong> {{ registro.usuario.username }}</li>
            <li class="list-group-item"><strong>Evento:</strong> {{ registro.evento.nombre }}</li>
            <li class="list-group-item"><strong>Fecha de Registro:</strong> {{ registro.fecha_registro }}</li>
        </ul>
        <div class="text-center mt-4">
            <a href="{% url 'registro_evento_list' %}" class="btn btn-secondary">Volver a la lista de registros</a>
        </div>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
